/* ------------------------- Section HEADER ----------------------- */
.page-header {
  justify-content: space-between;
  height: 3em;
}

.logo {
  font-family: var(--cursive-font);
  font-size: 1.2rem;
}

.fa-search {
  font-size: 1.2rem;
}

.menu-bar i {
  font-size: 1.5rem;
}

.side-bar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(107, 155, 107);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.side-bar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.side-bar a:hover {
  color: #f1f1f1;
}

.side-bar .menu-close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* ---------------------------------------------------------------- */



/* -------------------------- Section HERO ------------------------ */
.heading {
  height: 40vh;
  background: linear-gradient(
    rgba(0, 0, 0, 0.171), 
    rgba(0, 0, 0, 0.171)
  ),url(./../img/hero.jpg);
  background-size: cover; 
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 8rem 0;
}

.heading h1 {
font-family: var(--cursive-font);
font-weight: lighter;
}
/* ---------------------------------------------------------------- */



/* ------------------------ Section TRENDING ---------------------- */
.trending {
  overflow: hidden;
}

.trending-products img{
  height: 10rem;
  width: 10rem;
  border-radius: 1rem;
  margin: 0 0.5rem;
}

.trending-products {
  animation: carouselSlider 50s linear infinite;
  display: flex;
  width: calc(150px * 12);
}
/* ---------------------------------------------------------------- */



/* ------------------------ Section FILTERS ----------------------- */
.product-filters {
  justify-content: start;
}

.filter-options {
  display: none;
}

.fa-sliders-h {
  margin-left: 0.5em;
}

.fa-star,
.far fa-star,
.fa-star-half-alt
 {
  color: goldenrod;
}
/* ---------------------------------------------------------------- */



/* ------------------------ Section PRODUCTS ---------------------- */
.product img {
  height: 20rem;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}
/* ---------------------------------------------------------------- */



/* ------------------------ Section PRODUCTS ---------------------- */
.fa-shopping-cart {
  color: rgb(4, 90, 4);
}
.fa-heart {
  color: maroon;
}

del {
  color: maroon;
}

ins {
  color: rgb(4, 90, 4);
}
/* ---------------------------------------------------------------- */



/* ----------------------- Section PAGINATION --------------------- */
/* ---------------------------------------------------------------- */



/* ----------------------- Section PAGINATION --------------------- */
/* ---------------------------------------------------------------- */



/* ----------------------- Section SITE INFO ---------------------- */
/* ---------------------------------------------------------------- */



/* ------------------------ Section FOOTER ------------------------ */
/* ---------------------------------------------------------------- */



/* --------------------------- Keyframes -------------------------- */
@keyframes carouselSlider {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-150px * 7))}
}
/* ---------------------------------------------------------------- */
