/* ------------------------- Section HEADER ----------------------- */
.page-header {
  justify-content: space-between;
  height: 3em;
}

.page-header-webview {
  display: none;
}

.page-header-webview a {
  color: rgb(18, 61, 18);
}

.header-webview-nav a{
  font-weight: bold;
}

.logo {
  font-family: var(--cursive-font);
  font-size: 1.2rem;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 2em;
  width: 1.7em;
}

.fa-search {
  font-size: 1.2rem;
}

.product-search {
  margin-top: 1em;
}

.search-box input {
  border: 1px solid rgb(173, 173, 173);
  border-radius: 0.5em;
  width: 60%;
  padding-left: 1em;
}

.menu-bar i {
  font-size: 1.5rem;
}

.user-image {
  height: 1.5em;
  width: 1.6em;
  border-radius: 1em;
}

.side-bar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.575), 
    rgba(0, 0, 0, 0.171)
  ),url(../img/sidebar-background.jpg);
  background-size: cover; 
  background-position: center;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
}

.sidebar-logo {
  font-family: var(--cursive-font);
  font-size: 4rem;
}

.side-bar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.side-bar a:hover {
  color: #f1f1f1;
}

.menu-close {
  margin-right: 1em;
}

.menu a {
  font-size: 1em;
}

.separator {
  border-top: 1px solid rgba(175, 175, 175, 0.171);
  width: 80%;
  margin: 0 auto;
}

.your-products {
  display: flex;
  justify-content: space-evenly;
  width: 85%;
}
/* ---------------------------------------------------------------- */



/* -------------------------- Section HERO ------------------------ */
.heading {
  height: 40vh;
  background: linear-gradient(
    rgba(0, 0, 0, 0.171), 
    rgba(0, 0, 0, 0.171)
  ),url(../img/hero.jpg);
  background-size: cover; 
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 8rem 0;
}

.heading h1 {
font-family: var(--cursive-font);
font-weight: lighter;
}
/* ---------------------------------------------------------------- */



/* ------------------------ Section TRENDING ---------------------- */
.trending {
  overflow: hidden;
}

.trending-products img{
  height: 10rem;
  width: 10rem;
  border-radius: 1rem;
  margin: 0 0.5rem;
}

.trending-products {
  animation: carouselSlider 50s linear infinite;
  display: flex;
  width: calc(150px * 16);
}

.trending-product {
  display: block;
}
/* ---------------------------------------------------------------- */



/* ---------------------- Section HIGHLIGHTS ---------------------- */
.highlights .grid{
  display: grid;
  grid-template-columns: 1fr;
}

.highlight-1 {
  height: 14em;
  background: linear-gradient(
    rgba(0, 0, 0, 0.377), 
    rgba(0, 0, 0, 0.377)
  ),url(../img/highlight-1.jpg);
  background-size: cover; 
  background-position: center;
  border-radius: 1rem;
  color: #fff;
  padding: 0em 2em;
  display: grid;
  align-items: center;
}

.highlight-2 {
  height: 14em;
  background: linear-gradient(
    rgba(0, 0, 0, 0.562), 
    rgba(0, 0, 0, 0.562)
  ),url(../img/highlight-2.jpg);
  background-size: cover; 
  background-position: center;
  border-radius: 1rem;
  color: #fff;
  padding: 0em 2em;
  display: grid;
  align-items: center;
}

.highlight-3 {
  height: 14em;
  background: linear-gradient(
    rgba(0, 0, 0, 0.445), 
    rgba(0, 0, 0, 0.445)
  ),url(../img/highlight-3.jpg);
  background-size: cover; 
  background-position: center;
  border-radius: 1rem;
  color: #fff;
  padding: 0em 2em;
  display: grid;
  align-items: center;
}
/* ---------------------------------------------------------------- */



/* ------------------------ Section FILTERS ----------------------- */
.product-filters {
  justify-content: start;
}

.filter-options {
  display: none;
}

.button-filters {
  cursor: pointer;
}

.filter-plant-types input,
.filter-pot-requirement input,
.filter-plant-size input
{
  display: none;
}

.filter-plant-types li,
.filter-pot-requirement li,
.filter-plant-size li
{
  display: inline-block;
}

.filter-plant-types label,
.filter-pot-requirement label,
.filter-plant-size label
{
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: 1px solid rgb(4, 90, 4);
  border-radius: 4px;
  padding: 2px 5px;
  color:rgb(4, 90, 4);
}

.filter-plant-types input:checked + label,
.filter-pot-requirement input:checked + label,
.filter-plant-size input:checked + label
{
  background-color:rgb(4, 90, 4);
  color: #fff;
}

.fa-sliders-h {
  margin-left: 0.5em;
}

.fa-star,
.far fa-star,
.fa-star-half-alt
 {
  color: goldenrod;
}
/* ---------------------------------------------------------------- */



/* ------------------------ Section PRODUCTS ---------------------- */
.product {
  border-bottom: 1px solid rgb(230, 230, 230);
}

.results .grid {
  display: grid;
  grid-template-columns: 1fr;
}

.results fieldset {
  margin-top: 1rem;
}

.product img {
  height: 20rem;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.product-title-icons {
  justify-content: space-between;
}

.product-title-icons button {
  padding: 0.5em;
}

.product-price-ratings {
  justify-content: space-between;
}

.product-discount-category {
  display: flex;
  justify-content: space-between;
}

.fa-shopping-cart {
  color: rgb(4, 90, 4);
}
.fa-heart {
  color: maroon;
}

del {
  color: maroon;
}

ins {
  color: rgb(4, 90, 4);
}

.pot-fields input,
.size-fields input
 {
  display: none;
}

.pot-fields li,
.size-fields li
 {
  display: inline-block;
}

.product-title-newflash img{
  height: 1.5em;
  width: 2em;
  padding-left: 0.5em;
  animation: blinker 1s linear infinite;
}

.pot-fields label,
.size-fields label
{
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: 1px solid rgb(4, 90, 4);
  border-radius: 4px;
  padding: 2px 5px;
  color:rgb(4, 90, 4);
}

.pot-fields input:checked + label,
.size-fields input:checked + label
{
  background-color:rgb(4, 90, 4);
  color: #fff;
}

.button-buy {
  cursor: pointer;
  display: inline-block;
  background-color:  maroon;
  border: 1px solid maroon;
  border-radius: 4px;
  padding: 2px 5px;
  color: #fff;
}

.results .grid{
  gap: 0em;
}
/* ---------------------------------------------------------------- */



/* ----------------------- Section PAGINATION --------------------- */
.pages {
  justify-content: center;
}

.pages > li {
  margin: calc(var(--pad-and-gap) / 2);
  background-color: rgb(62, 112, 71);
  padding: 0.4rem 0.8rem;
  border-radius: 0.3rem;
  margin-top: 1rem;
}

.pages > li a {
  color: #fff;
}

.buttons-prev-next {
  display: flex;
  justify-content: space-between;
}

.buttons-prev-next a {
  background-color: transparent;
  color: rgb(18, 61, 18);
  border: 1px solid rgb(18, 61, 18);
  border-radius: 1rem;
  height: 1.8rem;
  width: 6rem;
  margin-top: 1rem;
}
/* ---------------------------------------------------------------- */



/* ------------------------ Section FOOTER ------------------------ */
.page-footer {
  background-color: rgb(18, 61, 18);
  color: #fff;
  padding: 1em 0;
  margin-top: 1rem;
}

.page-footer a {
  color: #fff;
}

.page-footer p {
  margin-top: 1rem;
}

.social,
.legal {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.social > li {
  padding: 0 0.5rem;
}

.legal > li {
  padding: 0 0.1rem;
}
/* ---------------------------------------------------------------- */



/* TOP BUTTON */
.section-top-button div {
  height: 3.5rem; 
  width: 3.5rem; 
  background-color: rgb(160, 160, 160); 
  color: #fff; 
  border-radius: 0.5rem; 
  position: fixed; 
  bottom: 2rem; 
  right: 2rem;
  cursor: pointer;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
}

.section-top-button p {
  font-size: 1.5rem
}



/* --------------------------- Keyframes -------------------------- */
@keyframes carouselSlider {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-150px * 7))}
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
/* ---------------------------------------------------------------- */